<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutSimples">
	
<th:block layout:fragment="conteudo">
	<div class="in-error-panel">
		<h1 class="in-error-panel__code">
			<i class="fas fa-exclamation-triangle"></i> 500
		</h1>
		
		<h2 class="in-error-panel__title">Erro no servidor</h2>
		
		<div class="in-error-panel__description">
			Desculpe, algo muito estranho aconteceu e n&atilde;o conseguimos processar a sua requisi&ccedil;&atilde;o. 
			Tente de novo ou entre em contato com a gente se precisar de ajuda.
			<br/><br/>
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
		</div>
	</div>

</th:block>
</html>