<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	<div class ="js-tabela-catalogomateriais">
		<div class="box-body table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-sm-2">Codigo</th>
						<th class="col-sm-4">Descricao</th>
						<th class="col-sm-2">Ação</th>
					</tr>
				</thead>
				<tbody >
					<tr th:each="catalogomateriais : ${listamateriais}">		
						<td  th:text="${catalogomateriais.codigo}">Andre</td>
						<td th:text="${catalogomateriais.descricao}">FISICA</td>
						<td ><button class="btn  btn-danger fa fa-eraser js-botao-excluir-catalogomateriais" data:id="${catalogomateriais.id}" type="button"  >Excluir</button></td>
					</tr>
					<tr th:if="${#lists.isEmpty(listamateriais)}">
						<td colspan="7"><center><span>Nenhum material foi adicionado ate o momento!</span></center></td>
					</tr>  
				</tbody>
			</table>
		</div>
	</div>
</html>