<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/adicional/bootstrap/css/bootstrap-switch.min.css}"/>
</head>


<body> 
	<div class="content-wrapper" layout:fragment="conteudo">
	
		<section class="content-header">
			<h1>Controle de Modelo de Veículos</h1>
			<ol class="breadcrumb">
				<li>
					<a th:href="@{/home/}">
						<i class="fa fa-dashboard"></i>
						Área de Trabalho
					</a>
				</li>
				<li>
					<a th:href="@{/veiculotipo}">Modelo de Veículo</a>
				</li>
	        	<li class="active">Controle de Modelo de Veículo</li>
      		</ol>
    	</section>
    	
		<section class="content" >
			<div class="box box-danger">
				
				<form method="POST" class="form-vertical  js-form-loading" th:object="${veiculotipo}"
					th:action="@{/veiculotipo} ? @{/veiculotipo/novo} : @{/veiculotipo/{codigo}(codigo=${veiculotipo.id})}">
					
					<div layout:include="fragments/mensagemErroValidacao"></div>
					<div layout:include="fragments/mensagemSucesso"></div>
					
					<div class="box-header with-border">
						<h3 class="box-title">Cadastro de Modelo de veículo</h3>
	        		</div>
					<div class="box-body row">
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{version}"/>
						
						<div class="col-md-2 form-group">
							<label for="codigo">Código de Identificação</label>
							<input id="codigo" type="text" class="form-control" readonly="true" th:field="*{codigo}" />
						</div>
						<div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('marca')} ? 'has-error'">
							<label for="marca" >Fabricante</label>
							<div class="input-group">
								<select id="marca" class="form-control" th:field="*{marca}">
									<option value="">Selecione o Fabricante</option>
									<option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.descricao}">Pale lager</option>
								</select>
								
								<div class="bw-field-action__icon input-group-addon">
									<a href="#modalCadastroRapidoMarca" data-toggle="modal" data-target="#modalCadastroRapidoMarca">
										<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
									</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3 form-group" th:classappend="${#fields.hasErrors('tipoequipamento')} ? 'has-error'">
							<label for="tipoequipamento" >Categoria</label>
							<div class="input-group">
								<select id="tipoequipamento" class="form-control" th:field="*{tipoequipamento}">
									<option value="">Selecione a Categoria</option>
									<option th:each="tipoequipamento : ${tipos}" th:value="${tipoequipamento}" th:text="${tipoequipamento.nome}">Pale lager</option>
								</select>
							</div>
						</div>
						
						<div class="col-md-4 form-group" th:classappend="${#fields.hasErrors('descricao')} ? 'has-error'">
							<label for="descricao" >Descrição</label>
							<input id="descricao" type="text" class="form-control" th:field="*{descricao}" autofocus="autofocus"/>
						</div>		
					</div>					
					<div class="box-body ">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
				</form>	
			</div>
		</section>
	</div>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/protocolo.js}"></script>
		<script th:src="@{/adicional/jquery/jquery.maskMoney.min.js}"></script>
		
		<script th:src="@{/adicional/bootstrap/js/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>
